<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Invite Teacher</title>
</head>
<body>

<div th:fragment="inviteTeacher">
 <div class="container">
 <div class="row">
               <div class="col-xs-12" style="height:50px;"></div>
            </div>
            <div class="row">
               <div class="col-xs-12" style="height:50px;"></div>
            </div>
            
	      <div class="row">
            <form action = "/addTeacher">
            <p> Adauga profesor: </p>
               <div class="row">
                  <div class="col-xs-3">          
                     <input type="text" class="form-control" id="name" placeholder="Name" name="name" required="true"/>
                  </div>
               </div>
               <div class="row">
                  <div class="col-xs-12" style="height:5px;"></div>
               </div>
               <div class="row">
                  <div class="col-xs-3">          
                     <input type="text" class="form-control" id="emailCreate" placeholder="E-mail a@b.c" name="emailCreate" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required="true"/>
                  </div>
               </div>
               <div class="row">
                  <div class="col-xs-12" style="height:5px;"></div>
               </div>
               <div class="row">
                  <div class="col-xs-3">          
                     <input type="text" class="form-control" id="category" placeholder="Categorie" name="category" required="true"/>
                  </div>
               </div>
               <div class="row">
                  <div class="col-xs-12" style="height:5px;"></div>
               </div>

               <div class="row">
                  <div class="col-xs-3">
                     <input type="submit" class="btn btn-info" id="createBtn" value="Trimite"/>
                  </div>
                
               </div>
            </form>
         </div>

</div>
</div>

<div th:fragment="inviteTeacherSent">
<div class="container">
	
         <form action="/return">
            <div class="row">
               <div class="col-xs-12" style="height:50px;"></div>
            </div>
            <div class="row">
               <p >Inivtatie transmisa!</p>
            </div>
            <div class="row">
               <div class="col-sm-6">
                  <input type="submit" class="btn btn-info" id="returnBtn" value="Return"/>
               </div>
            </div>
         </form>
      </div>
</div>



</body>
</html>